<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link href='{% static "css/query.css" %}' rel="stylesheet" type="text/css"> 
</head>
<body>
    <header>
        <div class="row  bg-info p-3 my-auto">
            <div class=" col-md-6 ml-5">
              <h1 style="padding-left: 1rem;color:whitesmoke">RACE APP </h1>
              </div>
              <div class=" col-md-4 my-auto">
                <h3 style="padding-left: 1rem;color:whitesmoke">Search Your Race</h3> 
            </div>
            <a class="bg-transparent border-0 btn text-white logout-btn ml-5" type="button" href="/logout/">
            <span class="ion-power">logout</span>
        </a>   

            <div class="col-3 col-md-6   ">
                <nav class="navbar navbar-expand-lg navbar-light ">  
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button> 
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                      <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a class="nav-link text-light" href="#">  <span class="sr-only">(current)</span></a>
                        </li>
                      </ul>

                      
                    </div>
                  </nav>
            </div>

        </div>
    </header>

    <section>
    <div class="mt-3  ml-5 flex justify-content-center">
      <div class="row">
      <div class="">
      <label> URL :</label>
      </div>
        <div class="col-md-7">
         <input class="form-control mr-sm-2 input-md" type="search" placeholder="Search" aria-label="Search" data-bind="value: page_url"><br>
         </div>
         <div class="col-md-3"> 
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" data-bind="click: querySearchSubmit">Search</button>
        </div>
      </div>
    </div>
    </section>


 <section id="tablesection">
   <!-- ko foreach : reslultsList-->
    <div class="mr-3 ml-5" id="tablediv">
      <table class="table ">
        <div class=""> <span id="player-name"><strong><!-- ko text: main_head --><!-- /ko --></strong> </span></div>
        <div class=""> <span id="player-name"><strong><!-- ko text: main_subhead --><!-- /ko --></strong> </span></div>
        <div class="mt-2"></div>
          <thead class="thead-dark ">
           <tr>
              <th>Pl</th>
              <th>H.No</th>
              <th>Horse/Pedigree</th>
              <th>Desc</th>
              <th>Trainer</th>
              <th>Jockey</th>
              <th>Wt</th>
              <th>Al</th>
              <th>Dr</th>
              <th>Sh</th>
              <th>Won By</th>
              <th>Dist Win</th>
              <th>Rtg</th>
              <th>Odds</th>
              <th>Time</th>
              <th>Race No</th>
              <th>Race key</th>
              <th>Race Distance</th>
           <tr>
             <tbody>
                <!-- ko foreach : race_detail_lst-->    
               <tr>
                  <td><!-- ko text: Pl --><!-- /ko --></td>
                  <td><!-- ko text: h_no --><!-- /ko --></td>
                  <td><!-- ko text: horse_pedigree --><!-- /ko --></td>
                  <td><!-- ko text: desc --><!-- /ko --></td>
                  <td><!-- ko text: trainer --><!-- /ko --></td>
                  <td><!-- ko text: jockey --><!-- /ko --></td>
                  <td><!-- ko text: wt --><!-- /ko --></td>
                  <td><!-- ko text: al --><!-- /ko --></td>
                  <td><!-- ko text: dr --><!-- /ko --></td>
                  <td><!-- ko text: sh --><!-- /ko --></td>
                  <td><!-- ko text: won_by --><!-- /ko --></td>
                  <td><!-- ko text: dist_win --><!-- /ko --></td>
                  <td><!-- ko text: rtg --><!-- /ko --></td>
                  <td><!-- ko text: odds --><!-- /ko --></td>
                  <td><!-- ko text: time --><!-- /ko --></td>
                  <td><!-- ko text: raceno --><!-- /ko --></td>
                  <td><!-- ko text: race_primarykey --><!-- /ko --></td>
                  <td><!-- ko text: race_distance --><!-- /ko --></td>
                </tr>
                <!-- /ko -->
        </tbody>
      </table>
    </div>
    <!-- /ko -->
   </section>

    <!-- Footer -->
<footer class="page-footer font-small blue footer-style">

  <!-- Copyright -->
  <h6 class="w-100 font-16 pl-3 mt-3 mb-3">Eg: https://www.indiarace.com/Home/racingCenterEvent?venueId=3&event_date=2020-03-06&race_type=RESULTS</h6>
  <div class="footer-copyright text-center py-3 text-success " >© 2020 Copyright:
    <a href="#"> RIVIS Solutions</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


  <div class="loader-bg d-none">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </div>

    <div class="modal fade error-modal" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-body text-center">
           <span id="errorMessage">Error</span>
         </div>
         <div class="modal-footer text-center">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
         </div>
       </div>
     </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/jQuery-3.4.1.js" %}'></script>
<script src='{% static "js/bootstrap.bundle.min.js" %}'></script>
<script src='{% static "js/metismenu.min.js" %}'></script>
<script src='{% static "js/jquery.slimscroll.js" %}'></script>
<script src='{% static "js/waves.min.js" %}'></script>
<script src='{% static "js/lightgallery-all.min.js" %}'></script>
<script src='{% static "js/alertify.js" %}'></script>
<script src='{% static "js/alertify-init.js" %}'></script>
<!-- App js -->
<script src='{% static "js/app.js"  %}'></script>
<script src='{% static "js/knockout-3.4.2.js" %}'></script>


<script src='{% static "js/moment.min.js" %}'></script>
<script src='{% static "js/moment-timezone.min.js" %}'></script>
<script src='{% static "js/moment-timezone-with-data.js" %}'></script>
<script src='{% static "js/daterangepicker.min.js" %}'></script>
<script src='{% static "js/jquery.validate.min.js" %}'></script>
<script src='{% static "js/select2.min.js" %}'></script>
<script src='{% static "js/jquery.flagstrap.js"%}'></script>
<script src='{% static "js/bootstrap-multiselect.js" %}'></script>
<script src='{% static "js/custom/admin/query-search.js" %}'></script>


</body>
</html>